
container_commands:
    100-custom-timezone:
        command: ln -f -s /usr/share/zoneinfo/America/New_York /etc/localtime
    200-remove-old-java:
        command: "sudo yum remove -y java-1.8.0-openjdk-headless"
    300-download-rpm-package:
        command: "wget https://corretto.aws/downloads/resources/11.0.6.10.1/java-11-amazon-corretto-devel-11.0.6.10-1.x86_64.rpm"
    400-install-java:
        command: "sudo yum localinstall -y java-11-amazon-corretto-devel-11.0.6.10-1.x86_64.rpm"
    600-reload-nginx:
        command: "service nginx reload"