<p><strong>PRIVACY POLICY &nbsp;&nbsp;</strong><strong>&nbsp;</strong></p>
<p><strong>Last updated December 30, 2019&nbsp;</strong>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Thank you for choosing to be part of our community at Master Service Learning Club ("<strong>MSLC</strong>",
    "<strong>we</strong>", "<strong>us</strong>", or "<strong>our</strong>"). We are committed to protecting your
    personal information and your right to privacy. If you have any questions or concerns about our policy, or our
    practices with regards to your personal information, please contact us at mslc@rhsmith.umd.edu.&nbsp;</p>
<p>When you visit our website <a href="https://umd-vita.com/" target="_blank"><span
        style="color:#333333;border:none windowtext 1.0pt;padding:0in;text-decoration:none;">https://umd-vita.com/</span></a>,
    and use our services, you trust us with your personal information. We take your privacy very seriously. In this
    privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it
    and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is
    important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our
    Sites and our services.&nbsp;</p>
<p>This privacy policy&nbsp;applies to all information collected through our website (such as <a
        href="https://umd-vita.com/" target="_blank"><span
        style="color:#333333;border:none windowtext 1.0pt;padding:0in;text-decoration:none;">https://umd-vita.com/</span></a>),
    and/or any related services, or events (we refer to them collectively in this privacy policy&nbsp;as the "<strong>Services</strong>").
    &nbsp;</p>
<p><strong>Please read this privacy policy carefully as it will help you make informed decisions about sharing your
    personal information with us. &nbsp;</strong>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>1. WHAT INFORMATION DO WE COLLECT?</strong><strong>&nbsp;</strong>&nbsp;</p>
<p><strong>Personal information you disclose to us</strong>&nbsp;</p>
<p><strong><em>In Short:</em></strong><strong>&nbsp;</strong><em>We collect personal information that you provide to us
    such as name, address, contact information, passwords and security data, and payment information.</em></p>
<p>We collect personal information that you voluntarily provide to us when registering at the Services expressing an
    interest in obtaining information about us or our products and services, when participating in activities on the
    Services or otherwise contacting us.</p>
<p>The personal information that we collect depends on the context of your interactions with us and the Services, the
    choices you make and the products and features you use. The personal information we collect can include the
    following:</p>
<p><strong>Publicly Available Personal Information.</strong> We collect ID, passport number, phone numbers, email
    addresses, business email, first name, maiden name, last name, nickname, and other similar data.</p>
<p><strong>Personal Information Provided by You.</strong> We collect taxation, pension, maternity leave, financial
    information (credit card number, purchase history, invoices), and other similar data.</p>
<p><strong>Credentials.</strong> We collect passwords, password hints, and similar security information used for
    authentication and account access. &nbsp;&nbsp;</p>
<p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any
    changes to such personal information.&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p><strong>2. HOW DO WE USE YOUR INFORMATION?</strong><strong>&nbsp;</strong>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><strong>&nbsp;</strong><em>We process your information for purposes based on
    legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations,
    and/or your consent.</em> &nbsp;</p>
<p>We use personal information collected via our Services for a variety of business purposes described below. We process
    your personal information for these purposes in reliance on our legitimate business interests, in order to enter
    into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We
    indicate the specific processing grounds we rely on next to each purpose listed below.&nbsp;</p>
<p>We use the information we collect or receive:&nbsp;</p>
<ul type="disc">
    <li><strong>To facilitate account creation and logon process.</strong> If you choose to link your account with us to
        a third party account (such as your Google or Facebook account), we use the information you allowed us to
        collect from those third parties to facilitate account creation and logon process for the performance of the
        contract.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    </li>
    <li><strong>Request Feedback.</strong> We may use your information to request feedback and to contact you about your
        use of our Services. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
        &nbsp;&nbsp;
    </li>
    <li><strong>To manage user accounts</strong>. We may use your information for the purposes of managing our account
        and keeping it in working order. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
        <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    </li>
    <li><strong>To deliver services to the user.</strong> We may use your information to provide you with the requested
        service. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li><strong>To respond to user inquiries/offer support to users.</strong>&nbsp; We may use your information to
        respond to your inquiries and solve any potential issues you might have with the use of our Services. &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    </li>
</ul>
<p>&nbsp;</p>
<p><strong>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</strong><strong>&nbsp;</strong>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><strong>&nbsp;</strong><em>We only share information with your consent, to
    comply with laws, to provide you with services, to protect your rights, or to fulfill business
    obligations.&nbsp;</em> &nbsp;</p>
<p>&nbsp;</p>
<p>We may process or share data based on the following legal basis:</p>
<ul type="disc">
    <li><strong>Consent:</strong> We may process your data if you have given us specific consent to use your personal
        information in a specific purpose.&nbsp;
        <br>&nbsp;
    </li>
    <li><strong>Legitimate Interests:</strong> We may process your data when it is reasonably necessary to achieve our
        legitimate business interests.&nbsp;
        <br>&nbsp;
    </li>
    <li><strong>Performance of a Contract:&nbsp;</strong>Where we have entered into a contract with you, we may process
        your personal information to fulfill the terms of our contract.&nbsp;
        <br>&nbsp;
    </li>
    <li><strong>Legal Obligations:</strong> We may disclose your information where we are legally required to do so in
        order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal
        process, such as in response to a court order or a subpoena (including in response to public authorities to meet
        national security or law enforcement requirements).&nbsp;
        <br>&nbsp;
    </li>
    <li><strong>Vital Interests:</strong> We may disclose your information where we believe it is necessary to
        investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations
        involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in
        which we are involved.
    </li>
</ul>
<p>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</p>
<p><strong>4. HOW LONG DO WE KEEP YOUR INFORMATION?</strong><strong>&nbsp;</strong>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><em>We do not keep your information for longer than is necessary in order to
    make sure that we have properly administered assistance for you to file a tax return.</em></p>
<p>We will only keep your personal information until the end of the next spring semester, unless a longer retention
    period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this
    policy will require us keeping your personal information for longer than the period of time in which users need tax
    help from us.&nbsp;&nbsp;</p>
<p>When we have no ongoing legitimate business need to process your personal information, we will either delete or
    anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup
    archives), then we will securely store your personal information and isolate it from any further processing until
    deletion is possible. &nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p><strong>5. HOW DO WE KEEP YOUR INFORMATION SAFE?&nbsp;</strong><strong>&nbsp;</strong>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><strong>&nbsp;</strong><em>We aim to protect your personal information
    through a system of organizational and technical security measures.</em> &nbsp;</p>
<p>We have implemented appropriate technical and organizational security measures designed to protect the security of
    any personal information we process. However, please also remember that we cannot guarantee that the internet itself
    is 100% secure. Although we will do our best to protect your personal information, transmission of personal
    information to and from our Services is at your own risk. You should only access the services within a secure
    environment. &nbsp;</p>
<p>&nbsp;</p>
<p><strong>6. DO WE COLLECT INFORMATION FROM MINORS?</strong><strong>&nbsp;</strong>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><strong>&nbsp;</strong><em>We do not knowingly collect data from children
    under 18 years of age.</em> &nbsp;</p>
<p>We do not knowingly solicit data from children under 18 years of age. By using the Services, you represent that you
    are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of
    the Services. If we learn that personal information from users less than 18 years of age has been collected, we will
    deactivate the account and take reasonable measures to promptly delete such data from our records. If you become
    aware of any data we have collected from children under age 18, please contact us at mslc@rhsmith.umd.edu.
    &nbsp;</p>
<p>&nbsp;</p>
<p><strong>7. WHAT ARE YOUR PRIVACY RIGHTS?</strong><strong>&nbsp;</strong>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><strong>&nbsp;</strong><em>You may review, change, or terminate your account
    at any time.</em>&nbsp;</p>
<p>If you are resident in the European Economic Area and you believe we are unlawfully processing your personal
    information, you also have the right to complain to your local data protection supervisory authority. You can find
    their contact details here:&nbsp;
    <a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm" target="_blank">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.&nbsp;
    <br>&nbsp;&nbsp;
</p>
<p><strong>Account Information</strong> &nbsp;</p>
<p>If you would at any time like to review or change the information in your account or terminate your account, you can:&nbsp;</p>
<p>Log into your account settings and update your user account.&nbsp;&nbsp;</p>
<p>Upon your request to terminate your account, we will deactivate or delete your account and information from our
    active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems,
    assist with any investigations, enforce our Terms of Use and/or comply with legal requirements. &nbsp; &nbsp;&nbsp;
    &nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p><strong>8. CONTROLS FOR DO-NOT-TRACK FEATURES</strong><strong>&nbsp;</strong>&nbsp;</p>
<p>Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (“DNT”) feature or
    setting you can activate to signal your privacy preference not to have data about your online browsing activities
    monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been
    finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically
    communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow
    in the future, we will inform you about that practice in a revised version of this privacy policy. &nbsp;</p>
<p>&nbsp;</p>
<p><strong>9. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</strong><strong>&nbsp;</strong>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><strong>&nbsp;</strong><em>Yes, if you are a resident of California, you are
    granted specific rights regarding access to your personal information.&nbsp;</em> &nbsp;</p>
<p>California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California
    residents to request and obtain from us, once a year and free of charge, information about categories of personal
    information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all
    third parties with which we shared personal information in the immediately preceding calendar year. If you are a
    California resident and would like to make such a request, please submit your request in writing to us using the
    contact information provided below.&nbsp;</p>
<p>If you are under 18 years of age, reside in California, and have a registered account with the Services, you have the
    right to request removal of unwanted data that you publicly post on the Services. To request removal of such data,
    please contact us using the contact information provided below, and include the email address associated with your
    account and a statement that you reside in California. We will make sure the data is not publicly displayed on the
    Services, but please be aware that the data may not be completely or comprehensively removed from our systems.</p>
<p>&nbsp;</p>
<p><strong>10. DO WE MAKE UPDATES TO THIS POLICY?</strong><strong>&nbsp;</strong>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><strong>&nbsp;</strong><em>Yes, we will update this policy as necessary to
    stay compliant with relevant laws.</em> &nbsp;</p>
<p>We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised”
    date and the updated version will be effective as soon as it is accessible. If we make material changes to this
    privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you
    a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting
    your information. &nbsp;</p>
<p>&nbsp;</p>
<p><strong>11. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</strong><strong>&nbsp;</strong>&nbsp;</p>
<p>If you have questions or comments about this policy, you may email us at mslc@rhsmith.umd.edu or by post to:</p>
<p>Master Service Learning Club &nbsp;&nbsp;&nbsp;</p>
<p>7621 Mowatt Lane College Park&nbsp;</p>
<p>College Park, MD 20742&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>United States &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>